@media (max-width: 977px){
    .user-regestration{
        display: none;
    }
}
@media (max-width: 800px) {

    /* .navbar{
        display: none;
    } */
    .user-regestration{
        display: none;
    }
}
@media (max-width: 768px) {
    .left-part{
        padding: 3rem 2.5rem;
    }
    .info-details{
        padding: 0.5rem 1.5rem;
    }
}